/* Theme styling */
.dark_mode {
  background-color: #3c3b3f;
  color: #ddd;
}

.light_mode {
  background-color: #fff;
  color: #222;
}

.not-found-msg {
  color: red;
}

.mausam-title {
  font-weight: bold;
}

.mausam-wrapper {
  display: flex;
  gap: 20px;
 /* justify-content: space-between; */
}